<div class="container">
    <div id="empty"></div>
    <app-menu-card></app-menu-card>
    <ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

    <!--
    <button (click)="sendTimeToServer()">testDBAdd</button>
    <button (click)="deleteElement()">testDBRemove</button>
    <button (click)="modifyElement()">testDBModify</button>
    -->

    <!--
    <button (click)="sendTimeToServer()">testDBAdd</button>
    <button (click)="deleteElement()">testDBRemove</button>
    <button (click)="modifyElement()">testDBModify</button>
    -->
    <div class="bg"></div>

    <div class="slant"></div>
    <div class="footer-item">
        <h4 class="team-name">Créé avec 💚 par ÉKIP (667)</h4>
        <p>Jean-Michel Alturk, Yassir Anabi, Slimane Boussafeur, Kevin Lam, Małgorzata Niczyporuk, George Salib</p>
    </div>
</div>
