.title {
    padding-bottom: 80px;
    padding-top: 5px;
    font-size: 100px;
    text-align: center;
    display: flex;
    font-family: 'Century Gothic';
    margin-left: 5px;
}

.Poly {
    padding-bottom: 80px;
    padding-top: 5px;
    text-align: center;
    color: rgb(158, 243, 220);
    display: flex;
}

.io {
    margin-top: -100px;
    margin-left: 215px;
}

.o {
    margin-top: -20px;
    margin-left: 335px;
    color: rgb(238, 87, 145);
}
